<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<main>
    <header>
        @Html.Partial("Header")
    </header>

    <body>
        @RenderBody()
    </body>
    

    <footer class="text-center pt-2">
        @Html.Partial("Footer")
    </footer>
</main>

