@{
    ViewData["Title"] = "Home Page";

    // es 1.
    string name = "Federico";
    string lastname = "Maiocchi";

    // es 2.
    static int SumInt(int n)
    {
        return n + 5;
    };

    // es 3.
    string phrase = "nel mezzo del cammin di nostra vita";

    static int CountCharA(string phrase)
    {
        int count = 0;

        foreach (char charA in phrase)
        {
            if (charA == 'a')
            {
                count++;
            }
        }

        return count;
    }

    

    


}

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

   @*  1. Dichiarare una variabile valorizzandola con il nostro nome.
    Dichiarare un'altra variabile valorizzandola con il nostro cognome.
    Stampare il nostro nome e cognome all'interno di un tag h2. *@

    <h2>@name / @lastname </h2>

    @* 2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
    Stampare dentro uno span il risultato. *@

    <span>riusultato: @SumInt(5)</span>

    @* 3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita"
    e stampare questo valore in pagina *@

    <p>Conteggio della lettera "a" in questa frase: "nel mezzo del cammin di nostra vita" - tot: @CountCharA("nel mezzo del cammin di nostra vita")</p>


    @* 4. Creare una List<int> di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) 
    e mostrare in pagina solo i numeri compresi tra 20 e 70 *@
</div>
